Thrash/
Dan2/
XB/
*.png
*.asv
*.mat
*.pptx
*.docx
*.xml
dymparams.txt
buildlog.txt
ds*.txt
dsmodel.c
*.exe
ctrl1.csv
PARAMETERS.xlsx
UpdatePhysiolibraryToBodylight.bat
~*
params/ModelOptParams_iter_*.m
params/ModelOptParams_SRXTD_iter_*.m
params/ModelOptParams_TL_iter_*.m
params/ModelOptParams_TL1_iter_*.m
params/ModelOptParams_TL2_iter_*.m
params/ModelOptParams_TL3_iter_*.m
params/ModelOptParams_TL4_iter_*.m
params/ModelOptParams_TL5_iter_*.m
/Analysis/batch_output_extracted_v1
data/
*.fig

# --- Reorganization additions (2026-06-16) ---
*.mexw64
_archive/
tools/*.exe
/resources/
*.log
*.err
